.starred-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 50px;
}

.input-starred {
    width: 300px;
    height: 30px;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid #444d56;
    background: #444d56;
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
}


.button-starred {
    width: 150px;
    height: 30px;
    color: #fff;
    background: #1277eb;
    border: 0;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;
}

::placeholder {
    color: #fff;
    font-size: 15px;
}