.starred-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 50px;
}

.input-starred {
    width: 300px;
    height: 30px;
    margin: 5px;
    border-radius: 2px;
    outline: none;
    border: none;
    background: #444d56;
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
    transition: box-shadow 1s;
}

.input-starred:focus {
    -webkit-box-shadow: 0px 1px 12px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 12px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 12px 5px rgba(0, 0, 0, 0.75);
}

.button-starred {
    width: 150px;
    height: 32px;
    color: #fff;
    background: #1277eb;
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;
}

::placeholder {
    color: #fff;
    font-size: 15px;
}

.avatars-github {
    width: 60px;
    height: 60px;
}

.repo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    margin-bottom: 10px;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.repo-image {
    float: right;
}

.repo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid rgba(27, 31, 35, .2);
}

.repo-item {
    background: #fff;
    box-shadow: 0 10px 50px rgba(27, 31, 35, 0.07);
    border-radius: 10px;
    height: 200px;
    width: 600px;
    margin: 40px 0px 0px 0px;
    transition: box-shadow 1s;
}

.repo-item:hover {
    -webkit-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.75);
}

.block {
    clear: left;
}

.stars {
    display: inline-block;
    margin-left: 5px;
    font-size: 25px;
}

.start-title {
    margin-left: 5px;
    margin-right: 5px;
}

.start-count {
    margin-right: 5px;
}

.content-about {
    padding: 20px 20px 20px 20px;
}

.button-arrow {
    margin-top: 10px;
    border-radius: 30px;
}

.arrow-icon {
    font-size: 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
